body {
  background-color: #fffbf7;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 24px;
  margin-top: 0;
}

button {
  background-color: #025157;
  color: #ffffff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.navbar {
  text-align: center;
  color: #025157;
}

.navbar > ul {
  padding-left: 0;
}

.itemNavegacion {
  margin: 0 25px;
}

.actions {
  text-align: center;
  font-size: 14px;
}

.actions > * {
  margin: 0 10px;
}

.actionsSignIn {
  color: #67b54b;
  text-decoration: none;
}

.actions > button {
  background-color: #67b54b;
  color: #ffffff;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.header {
  padding-bottom: 184px;
}

.header p {
  color: #46484c;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 72px;
}

main {
  margin-top: 184px;
  text-align: center;
}

/** pricing.css */
.header h5 {
  color: #025157;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.header .platforms .btn-group {
  padding: 4px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header .platforms .btn-group button {
  background-color: transparent;
  color: #4b4b4b;
  width: 160px;
  height: 40px;
  font-size: 15px;
  line-height: 1;
  border: none;
}

.header .platforms .btn-group button.active {
  background-color: white;
  color: #67b54b;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.header .platforms .btn-group button > img {
  margin-right: 5px;
}

.faq {
  padding-bottom: 120px;
}

.faq h2 {
  color: #025157;
  font-family: "Alegreya", serif;
  margin-bottom: 60px;
}

.faq .card {
  background-color: #ffffff;
}

.faq .card-header {
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.faq .card-header h2 > button {
  color: #025157;
  font-size: 28px;
}

.faq .card .card-body a {
  color: #6abf4b;
}