body {
  background-color: #fffbf7;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 24px;
  margin-top: 0;
}

button {
  background-color: #025157;
  color: #ffffff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fffbf7;
  z-index: 2;
}

.header {
  margin: 5px 20px 0;
  font-size: 0px;
  height: 45px;
  font-family: sans-serif;
  display: flex;
  align-items:center;
  padding: 25px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
}

main {
  margin-top: 250px;
  text-align: center;
}

main > h4 {
  color: #46484c;
  font-family: serif;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
}

main > p {
  color: #8b8b8bcc;
  margin-top: 15px;
  font-family: serif;
  font-size: 20px;
}

.enter-mail {
  height: 45px;
  margin-right: -5px;
  padding: 10px;
  border: none;
}

.banner {
  margin-top: 2rem;
  vertical-align: middle;
  padding: 0 10%;
}

.intro {
  margin-top: 32px;
  vertical-align: middle;
  padding: 0 10%;
}

.intro > img {
  width: 70%;
}

li {
  display: inline;
}

.logo {
  width: 20%;
}

.navbar {
  text-align: center;
  color: #025157;
}

.navbar > ul {
  padding-left: 0;
}

.itemNavegacion {
  margin: 0 25px;
}

.actions {
  text-align: center;
  font-size: 14px;
}

.actions > * {
  margin: 0 10px;
}

.actionsSignIn {
  color: #67b54b;
  text-decoration: none;
}

.actions > button {
  background-color: #67b54b;
  color: #ffffff;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.publish {
  padding-left: 5px;
  flex: 1;
}

.publish > h3 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.publish .publish-text {
  color: #343434;
  font-family: "Open Sans", serif;
}

.publish .publish-gray {
  color: #8b8b8bcc;
  font-family: "Open Sans", serif;
}

.promo {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.promo > article > figure >img {
  width: 120px;
  margin-top: 10px;
}

.features {
  display: grid;
  grid-template: repeat(2, 2fr) / repeat(2, 1fr);
  height: 660px;
  background-color: #025157;
  padding: 5% 10%;
}

.feature-card {
  background-color: #ffffff;
  margin: 0 15px 30px;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}
.features .feature-card .feature-content figure {
  margin: 0;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
  transition: right 0.3s;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

.features .feature-card .feature-image:hover {
  right: -20px;
}

/* Agregado en la sexta clase */
.navbar-light .nav-item .nav-link {
  color: #025157;
}

.navbar-light .navbar-toggler {
  border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Tarjeta y carrousel */

.success-stories .stories-carousel .slide {
  padding-bottom: 40px;
}

.success-stories .stories-carousel .slide .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.success-stories .stories-carousel .carousel-indicators button {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity .6s ease;
}

.success-stories .stories-carousel .card {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  height: 564px;
  color : #025157;
  position: relative;
}

.success-stories .stories-carousel .card .everly {
  height: 275px;
  background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/profile-headshot-square.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.success-stories .stories-carousel .card .card-circle-everly {
  position: absolute;
  bottom: 255px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f9da73;
  background-image: url('https://getmatcha.com/wp-content/uploads/2019/05/everly_logo_blue_v3_x60@2x.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px;
  border: 5px solid #f9da73;
}


.success-stories .stories-carousel .card .summit {
  background-image: url('https://getmatcha.com/wp-content/uploads/2019/08/0.jpg');
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.success-stories .stories-carousel .card .card-circle-summit {
  position: absolute;
  bottom: 255px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #81d742;
  background-image: url('https://getmatcha.com/wp-content/uploads/2019/08/SeatoSummitLogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px;
  border: 5px solid #81d742;
}


.success-stories .stories-carousel .card .mambe {
  background-image: url('https://getmatcha.com/wp-content/uploads/2019/06/matt-and-margaret_headshot.png');
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.success-stories .stories-carousel .card .card-circle-mambe {
  position: absolute;
  bottom: 255px;
  right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ef7179;
  background-image: url('https://getmatcha.com/wp-content/uploads/2019/06/mambe-logo-1.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px;
  border: 5px solid #ef7179;
}
.success-stories .stories-carousel .card .customer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #000;
  margin-bottom: 20px;
}

.success-stories .stories-carousel .card .results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #666666;
}

.success-stories .stories-carousel figure {
  margin-top: 0;
}

.card-container {
  background-color: #a1d683;
}


.comments h1 {
  color: #025157;
  font-weight: bold;
  text-align: left;
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 61px;
  letter-spacing: -2px;
  color: #025157;
}

.comments .btn-beefy {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-top: 12px;
  text-align: center;
  color: #fff;
  background: #025157;
  border-radius: 8px;
  height: 45px;
  width: 166px;
  transition: all .2s ease-in-out;
}

.comments .btn-beefy:hover {
  background-color: #67b54b;
  color: #fff;
}

.comments img {
  width: 450px;
  margin-top: 40px;
  padding-right: 10px;
}




@media (max-width: 425px) {

  main {
    margin-top: 130px;
  }

  h1 {
    font-size: 1.875rem;
  }

  .banner > img {
    width: 100%;
  }

  .intro > img {
    width: 100%;
  }

  .promo {
    flex-direction: column;
    width: 90%;
    margin-top: 25px;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publish > h3 {
    font-size: 25px;
    margin-top: 10px;
    line-height: 1.2;
    text-align: justify;
  }

  .publish > form {
    display: flex;
    flex-direction: column;
  }

  .publish > form > div {
    height: 60px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 55%;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    height: 780px;
    padding: 10px;
  }

  .features .feature-card .feature-content {
    padding: 10px;
  }

  .features .feature-card .feature-content h3 {
    font-size: 10px;
  }

  .feature-image {
    display: none;
  }
}

