body {
  background-color: #fffbf7;
}

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
  font-weight: 900;
}

button {
  background-color: #025157;
  color: #ffffff;
}
